html, body {
	font-family: Consolas, monaco, monospace;
/*	background-color: #272822;*/
	background-color: none;
	color: #F8F8F2;
    width: 100%;
    padding: 0 20px;
}

body {
	margin: 0 auto;

	background-color: rgba(39, 40 , 34, 0.7);
	border-radius: 15px;
}

html {
	margin: 0;
	background-image: url(../img/IMG_1771.JPG);
}

header {
/*	background: #272822;*/
	width: 100%;
}

.container {
	margin: 50px;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #fafafa;
}

h1 span {
	color: gray;
}

h2 {
	color: #66D9EF;
}

input:focus {
	background: #f4ff81;
/*	border: 2px solid orange;*/
}

button:hover {
	border: 5px solid #fafafa;
}