html, body {
	font-family: Consolas, monaco, monospace;
/*	background-color: #272822;*/


    width: 100%;
    padding: 0 20px;
}

body {
	margin: 0 auto;

	background-color: rgba(39, 40 , 34, 0.1);
	border-radius: 15px;
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);

/*=========*/
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    font-family: helvetica;
    font-weight: 200;


/*=======*/
}

html {
	margin: 0;
	background-image: url(../img/trametissee.JPG);
}

header {
/*	background: #272822;*/
/*	width: 100%;*/

	/*==========*/
    background: #3f3fc1;
    color: #fff;
    border-radius: 5px;
/*=========================*/

}

/*==================*/
main {
    flex: 1 1 auto;
}
/*=======================*/

/*
.container {
	margin: 50px;
}
*/
a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #fafafa;
}

h1 span {
	color: gray;
}

h2 {
	color: #66D9EF;
}

input:focus {
	background: #d8d24d;
/*	background: #4db6ac;*/
/*	border: 2px solid orange;*/
}

/*button:hover {
	border: 5px solid #fafafa;
}*/




main {
    display: flex;
    flex: 1 1 auto;
    
}


header {
    background: #555353;
    color: #fff;
    border-radius: 5px;
/*    margin: auto;*/
    padding: 1rem;
    text-align: center;
/*    justify-content: center;*/
/*    margin: auto;*/
    margin-bottom: 0.5rem;
}
h1 {
    font-weight: 200;
}

section {
    background: rgba(181,181,179, 0.9);
    color: #fff;
    border-radius: 5px;
    margin: 0 0.5rem;
    padding: .5rem;;
    text-align: justify;
}

footer {
    background: #555353;
    color: #fff;
    border-radius: 5px; 
    padding: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
}

aside {
    background: rgba(118,102,102, 0.9);
    color: #fff;
    border-radius: 5px;
    text-align: justify;

    width: 20em;
    padding: 0.5rem;
}

nav {
    background: rgba(153,182,189, 0.9);
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    order: -1;
/*    justify-content: space-between;*/
    width: 10em;
    padding: 0.5rem;

}


nav a {
    color: #fff;
    text-decoration: none;
    border-bottom: solid 1px #fff;
}


.content {
    flex:1;
}

/*===============MEDIA QUERIES=========*/

@media (max-width: 640px) {
    main {
        flex-direction: column;
    }
    section {
        margin: 0;
    }
    nav,
    aside {
        width: auto;
    }
    header {
        margin: 20px 0;
    }
    aside {
        margin: .5rem 0;
    }
    .content {
        flex-basis: auto;
        margin-bottom: 20px;
    }
    nav {
        order: 1;
        align-items: center;
    }
}
